@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    line-height: 2;}


#part_one{ background-image: url("images/its me.jpg"); max-width: 100% background-size: cover; }
#part_one {margin-bottom:200px;}
#a{font-family: Eulyoo1945-SemiBold; max-width: 100%; height: 500px; margin: 0 auto;}
#a {max-width: 100%;height: 200px; transform: translate(20%); margin:1px; color: white; line-height: 1.3;}

#b img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#c img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#d img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#e {font-family: Eulyoo1945-SemiBold; max-width: 50%; height: 650px; transform: translate(40%); margin:1px;line-height: 1.3;}

#f img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#g img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#h img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#i {font-family: Eulyoo1945-SemiBold; max-width: 50%; height: 650px;transform: translate(40%);margin:1px;line-height: 1.3;}

#j img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#k img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#l img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#m {font-family: Eulyoo1945-SemiBold; max-width: 50%; height: 650px; transform: translate(40%);margin:1px;line-height: 1.3;}

#n img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#o img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#p img {max-width: 20%; height: 450px; float: left;transform: translate(100%);}
#q {font-family: Eulyoo1945-SemiBold; max-width: 50%; height: 650px;transform: translate(40%);margin:1px;line-height: 1.3;}

#r {font-family: Eulyoo1945-SemiBold; max-width: 50%; height: 200px;transform: translate(100%);margin:1px; color:blue;line-height: 1.5;}

    

